<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User 관리 페이지</title>
    <link rel="icon" th:href="@{/img/logo.jpeg}">
    <script type="text/javascript" th:src="@{/js/menu.js}" th:defer></script>
    <script type="text/javascript" th:src="@{/js/post.js}" th:defer></script>
    <script type="text/javascript" th:src="@{/js/admin.js}" th:defer></script>
    <script type="text/javascript" th:src="@{/js/content.js}" th:defer></script>
    <link rel="stylesheet" th:href="@{/css/menu.css}">
    <link rel="stylesheet" th:href="@{/css/admin/admin-user.css}">
</head>
<body>
<header th:fragment="header">
    <div class="contentmenu" id="headerMenu">
        <a th:href="@{/admin/admin-user}" class="menu-link active">User 관리</a>
        <a th:href="@{/admin/admin-post}" class="menu-link">Post 관리</a>
    </div>
</header>
    <!-- 사이드바 포함 -->
    <div th:replace="~{admin/sidebar :: sidebar}"></div>

    <div class="content">
        <div class="section" id="user-management">
            <div class="search-filter">
                <input type="text" placeholder="Search...">
                <button>Search</button>
                <button>Filter</button>
            </div>

            <table class="user-table">
                <thead>
                <tr>
                    <th>번호</th>
                    <th>이름</th>
                    <th>ID</th>
                    <th>PW</th>
                    <th>전화번호</th>
                    <th>관리</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.userNo}"></td>
                    <td th:text="${user.userName}"></td>
                    <td th:text="${user.userId}"></td>
                    <td th:text="${user.userPwd}"></td>
                    <td th:text="${user.userPhone}"></td>
                    <td>
                        <a th:href="@{'/admin/admin-user/delete?id=' + ${user.userNo}}">
                            <button class="delete-btn">삭제</button>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- 푸터 포함 -->
    <div class="footer-wrapper">
        <div th:replace="~{admin/footer :: footer}" class="desktop-footer"></div>
    </div>
</body>
</html>
