<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>아모여: 게시글 관리 페이지</title>
    <link rel="icon" th:href="@{/img/logo.jpeg}">
    <script type="text/javascript" th:src="@{/js/menu.js}" th:defer></script>
    <script type="text/javascript" th:src="@{/js/post.js}" th:defer></script>
    <script type="text/javascript" th:src="@{/js/admin.js}" th:defer></script>
    <script type="text/javascript" th:src="@{/js/content.js}" th:defer></script>
    <link rel="stylesheet" th:href="@{/css/menu.css}">
    <link rel="stylesheet" th:href="@{/css/admin/admin-user.css}">
    <link rel="stylesheet" th:href="@{/css/admin/admin-post.css}">
</head>
<body>
<header th:fragment="header">
    <div class="contentmenu" id="headerMenu">
        <a th:href="@{/admin/admin-user}" class="menu-link">User 관리</a>
        <a th:href="@{/admin/admin-post}" class="menu-link active">Post 관리</a>
    </div>
</header>

    <!-- 사이드바 포함 -->
    <div th:replace="~{admin/sidebar :: sidebar}"></div>

    <div class="section" id="post-management">
        <div class="search-filter">

            <a class="po-button" th:href="@{/admin/addpost}">글쓰기</a>
        </div>

        <table class="post-table">
            <thead>
            <tr>
                <th>글쓴이</th>
                <th>품목</th>
                <th>가격</th>
                <th>품질</th>
                <th>관리</th>
                <th>상세보기</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post : ${groupBuyings}">
                <!--<td th:text="${post.Date}">24/05/27</td>  날짜가 없어용 필드에!!!!-->
                <td th:text="${post.user.userName + ' (' + post.user.userId + ')'}"></td>
                <td th:text="${post.buyingItem}"></td>
                <td th:text="${#numbers.formatInteger(post.buyingPrice, 0)}"></td>
                <td th:text="${post.buyingQuality}"></td>
                <td>
                    <a th:href="@{'/admin/admin-post/delete?id=' + ${post.buyingNo}}">
                        <button class="delete-btn" type="button">
                            <a class="delete-btn__text">삭제</a>
                            <span class="delete-btn__icon">
                                    <svg class="svg" height="512" viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg"><title></title>
                                        <path d="M112,112l20,320c.95,18.49,14.4,32,32,32H348c17.67,0,30.87-13.51,32-32l20-320" style="fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></path>
                                        <line style="stroke:#fff;stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px" x1="80" x2="432" y1="112" y2="112"></line>
                                        <path d="M192,112V72h0a23.93,23.93,0,0,1,24-24h80a23.93,23.93,0,0,1,24,24h0v40" style="fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></path><line style="fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px" x1="256" x2="256" y1="176" y2="400"></line>
                                        <line style="fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px" x1="184" x2="192" y1="176" y2="400"></line><line style="fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px" x1="328" x2="320" y1="176" y2="400"></line></svg></span>
                        </button>
                    </a>
                </td>
                <td>
                    <a th:href="@{'/admin/admin-list?buying_no=' + ${post.buyingNo}}">
                        <button class="detail-btn">상세보기</button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- 푸터 포함 -->
    <div class="footer-wrapper">
        <div th:replace="~{admin/footer :: footer}" class="desktop-footer"></div>
    </div>
</body>
</html>