<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link th:href="@{/css/mypage/mywritelist.css}" rel="stylesheet" />
    <link th:href="@{/css/mypage/mypage.css}" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/menu.css}">
    <script type="text/javascript" th:src="@{/js/content.js}" th:defer></script>
    <script type="text/javascript" th:src="@{/js/mypage.js}" th:defer></script>
    <title>아모여: 마이페이지 좋아요 내역 보기</title>
</head>
<body>

<header th:fragment="header">
    <div class="contentmenu" id="headerMenu">
        <a th:href="@{/mypage}" class="menu-link">마이페이지</a>
        <a th:href="@{/purchashistory}" class="menu-link">공구 내역</a>
        <a th:href="@{/mypage/mylikes}" class="menu-link active">좋아요</a>
    </div>
</header>
<!-- 사이드바 포함 -->
<div th:replace="~{mypage/sidebar :: sidebar}"></div>

<div class="container">
    <div class="profile-card">
        <div class="profile-header">
            <div class="profile-picture">
                <img th:src="@{/img/after-profile.png}" alt="Profile Image" style="width: 60px; height: 60px;">
            </div>
            <div class="profile-name"><span class="profile-name-text" th:text="${profileName}"></span></div>
        </div>
        <div class="transaction-table">
            <table class="like-table">
                <thead>
                <tr class="transaction-header">
                    <th class="header-item">물품</th>
                    <th class="header-price">가격</th>
                    <th class="header-quality">품질</th>
                    <th class="header-actions">삭제</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="post, iterStat : ${myPosts}" class="transaction-row"
                    th:onclick="'location.href=\'/mypage/mylikes/details?requireNo=' + ${post.requireNo} + '\';'"
                    style="cursor: pointer;">
                    <td class="transaction-item" th:text="${post.requireItem}">물품</td>
                    <td class="transaction-price" th:text="${post.requirePrice}">가격</td>
                    <td class="transaction-quality" th:text="${post.requireQuality}">품질</td>
                    <td class="transaction-delete">
                        <form method="post" th:action="@{/mypage/mylikes/delete}" style="display:inline;">
                            <input type="hidden" name="postId" th:value="${post.requireNo}"/>
                            <button class="delete-button">
                                <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        fill="none"
                                        viewBox="0 0 39 7"
                                        class="bin-top"
                                >
                                    <line stroke-width="4" stroke="white" y2="5" x2="39" y1="5"></line>
                                    <line
                                            stroke-width="3"
                                            stroke="white"
                                            y2="1.5"
                                            x2="26.0357"
                                            y1="1.5"
                                            x1="12"
                                    ></line>
                                </svg>
                                <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        fill="none"
                                        viewBox="0 0 33 39"
                                        class="bin-bottom"
                                >
                                    <mask fill="white" id="path-1-inside-1_8_19">
                                        <path
                                                d="M0 0H33V35C33 37.2091 31.2091 39 29 39H4C1.79086 39 0 37.2091 0 35V0Z"
                                        ></path>
                                    </mask>
                                    <path
                                            mask="url(#path-1-inside-1_8_19)"
                                            fill="white"
                                            d="M0 0H33H0ZM37 35C37 39.4183 33.4183 43 29 43H4C-0.418278 43 -4 39.4183 -4 35H4H29H37ZM4 43C-0.418278 43 -4 39.4183 -4 35V0H4V35V43ZM37 0V35C37 39.4183 33.4183 43 29 43V35V0H37Z"
                                    ></path>
                                    <path stroke-width="4" stroke="white" d="M12 6L12 29"></path>
                                    <path stroke-width="4" stroke="white" d="M21 6V29"></path>
                                </svg>
                                <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        fill="none"
                                        viewBox="0 0 89 80"
                                        class="garbage"
                                >
                                    <path
                                            fill="white"
                                            d="M20.5 10.5L37.5 15.5L42.5 11.5L51.5 12.5L68.75 0L72 11.5L79.5 12.5H88.5L87 22L68.75 31.5L75.5066 25L86 26L87 35.5L77.5 48L70.5 49.5L80 50L77.5 71.5L63.5 58.5L53.5 68.5L65.5 70.5L45.5 73L35.5 79.5L28 67L16 63L12 51.5L0 48L16 25L22.5 17L20.5 10.5Z"
                                    ></path>
                                </svg>
                            </button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- 푸터 포함 -->
<div class="footer-wrapper">
    <div th:replace="~{mypage/footer :: footer}" class="desktop-footer"></div>
</div>

</body>
</html>