
.section {
    padding: 10px;
}

.h2 {
    text-align: center;
}

.list-table {
    margin-left: 10px;
    width: 100%;
    border-collapse: collapse;
}

.list-table th, .list-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.list-table th {
    background-color: #f2f2f2;
}
