

.search-filter {
    margin-left: 550px;
    margin-bottom: 20px;
}
.post-admin{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0%;
}
.post-table {
    margin-left: 30%;
    width: 50%;
    border-collapse: collapse;
}

.post-table th, .post-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.post-table th {
    background-color: #f2f2f2;
}


.detail-btn {
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    background-color: #808080;
    color: #fff;
    cursor: pointer;
}
/* General Styles */
body {
    overflow-x: hidden;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: 'Pretendard-Regular', Arial, sans-serif;
    background-color: #f8f8f8;
}

.section {
    padding: 20px;
}

.user-table-container {
    margin-top: 20px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.user-table {
    width: 50%;
    margin-left: 30%;
    border-collapse: collapse;
    table-layout: fixed; /* Ensure table fits the container */
}

.user-table th, .user-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden;
    text-overflow: ellipsis; /* Ellipsis for overflow text */
}
.ui-input-container {
    position: relative;
    width: 300px;
    margin-top: 20px;
    margin-right: 10px;
    display: inline-block;
}
.po-button {
    border: none;
    padding: 8px 16px;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    margin-left: 58%;
    background-color: #6d65ff; text-decoration: none
}

.po-button:hover {
    background-color: #574efa;
}

    .logout-Btn {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 45px;
        height: 45px;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        transition-duration: .3s;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
        background-color: rgb(255, 65, 65);
    }

    .logout-Btn .sign {
        position: absolute;
        left: 28%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition-duration: .3s;
    }

    .logout-Btn .sign svg {
        width: 17px;
    }

    .logout-Btn .sign svg path {
        fill: white;
    }

    .logout-Btn .text {
        position: absolute;
        left: 45px;
        opacity: 0;
        color: white;
        font-size: 1.2em;
        font-weight: 600;
        transition: opacity .3s, width .3s;
    }

    .logout-Btn:hover {
        width: 125px;
        border-radius: 40px;
        transition-duration: .3s;
    }

    .logout-Btn:hover .sign {
        width: 14px;
        left: 19%;
    }

    .logout-Btn:hover .text {
        opacity: 1;
        transition-duration: .3s;
        padding-left: 0px;
        font-size: 14px;
    }

    .logout-Btn:active {
        transform: translate(2px, 2px);
    }

    header {
        width: 100%;
        background-color: #fff;
        display: flex;

        justify-content: center;
        padding: 30px 0;
    }

    header .contentmenu {
        display: flex;
        margin-left:150px;
        gap: 20px;
    }

    header .contentmenu a {
        text-decoration: none;
        color: #cccccc;
        margin-right: 50px;

        font-weight: bold;
    }

    .menu-link {
        color: #cccccc;
        transition: color 0.3s ease;
    }

    .menu-link.active {
        color: black;
        font-weight: bold;
    }

    footer.footer, aside.sidebar {
        background-color: #fff;
    }

    footer.footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
        border-top: 1px solid #ccc;
        padding: 18px 0;
    }

    footer.footer .menu-item {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 20px;
    }

    footer.footer .menu-item img {
        width: 24px;
        height: 24px;
    }

    aside.sidebar {
        position: fixed;
        top: 0;
        left: 0;
        flex-direction: column;
        align-items: flex-start;
        height: 100%;
        width: 200px;
        max-width: none;
        border-right: 1px solid #ccc;
        padding-top: 20px;
        padding-left: 20px;
        box-sizing: border-box;
        display: flex;
    }

    aside.sidebar a {
        text-decoration: none;
        display: flex;
        align-items: center;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        color: #cccccc;
    }

    .Btn {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 45px;
        height: 45px;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        transition-duration: .3s;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
        background-color: rgb(163, 142, 255);
    }

    .signs {
        position: absolute;
        left: 28%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition-duration: .3s;
    }

    .signs svg {
        width: 17px;
    }

    signs svg path {
        fill: white;
    }

    .texts {
        position: absolute;
        right: 0%;
        width: 0%;
        opacity: 0;
        color: white;
        font-weight: 600;
        font-size: 14px;
        transition-duration: .3s;
    }

    .Btn:hover {
        width: 125px;
        border-radius: 40px;
        transition-duration: .3s;
    }

    .Btn:hover .signs {
        width: 14px;
        left: 19%;
    }

    .Btn:hover .texts {
        opacity: 1;
        width: 70%;
        transition-duration: .3s;
        padding-right: 10px;
    }

    .Btn:active {
        transform: translate(2px, 2px);
    }

    .logo {
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .logo img {
        width: 50px;
    }

    .menu-item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 0;
        padding: 10px 0;
        width: 100%;
        box-sizing: border-box;
    }

    .menu-item img {
        width: 24px;
        height: 24px;
        margin-right: 10px;
    }

    .menu-item.profile {
        position: relative;
    }

    .menu-item.profile img {
        border-radius: 50%;
        border: 2px solid transparent;
        box-shadow: none;
        transition: box-shadow 0.3s ease;
    }

    .menu-item.profile.active img {
        box-shadow: 0 0 0 2px black;
    }

    .menu-item.active div {
        font-weight: bold;
    }

    .menu-item div {
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
    }

    .menu-link.active div {
        color: black;
    }

    .icon {
        width: 24px;
        height: 24px;
    }

    .user-table th {
        background-color: #f2f2f2;
    }

    .delete-btn {
        position: relative;
        width: 108px;
        height: 40px;
        cursor: pointer;
        display: flex;
        align-items: center;
        border: 1px solid #cc0000;
        background-color: #e50000;
        overflow: hidden;
        text-decoration: none;
    }

    .delete-btn, .delete-btn__icon, .delete-btn__text {
        transition: all 0.3s;
    }

    .delete-btn__text {
        transform: translateX(35px);
        color: #fff;
        font-weight: 600;
        text-decoration: none !important;
    }

    .delete-btn__text span {
        text-decoration: none !important;
    }

    .delete-btn .delete-btn__icon {
        position: absolute;
        transform: translateX(70px);
        height: 100%;
        width: 30px;
        background-color: #cc0000;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .delete-btn .svg {
        width: 20px;
    }

    .delete-btn:hover {
        background: #cc0000;
    }

    .delete-btn:hover .delete-btn__text {
        color: transparent;
    }

    .delete-btn:hover .delete-btn__icon {
        width: 148px;
        margin-left: 0;
        transform: translateX(-25px);
    }

    .delete-btn:active .delete-btn__icon {
        background-color: #b20000;
    }

    .delete-btn:active {
        border: 1px solid #b20000;
    }

    a.delete-btn-link {
        text-decoration: none !important;
    }

    .ui-input-container {
        /*position: absolute;*/
        width: 300px;
        margin-bottom: 30px;
        margin-left: 30%;
    }

    .ui-input {
        width: 100%;
        padding: 10px 10px 10px 40px;
        font-size: 1em;
        border: none;
        border-bottom: 2px solid #ccc;
        outline: none;
        background-color: transparent;
        transition: border-color 0.3s;
    }

    .ui-input:focus {
        border-color: #6c63ff;
    }

    .ui-input-underline {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 100%;
        background-color: #6c63ff;
        transform: scaleX(0);
        transition: transform 0.3s;
    }

    .ui-input:focus + .ui-input-underline {
        transform: scaleX(1);
    }

    .ui-input-highlight {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 0;
        background-color: rgba(108, 99, 255, 0.1);
        transition: width 0.3s;
    }

    .ui-input:focus ~ .ui-input-highlight {
        width: 100%;
    }

    .ui-input-icon {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        color: #999;
        transition: color 0.3s;
    }

    .ui-input:focus ~ .ui-input-icon {
        color: #6c63ff;
    }

    .ui-input-icon svg {
        width: 20px;
        height: 20px;
    }

    @media (min-width: 768px) {
        footer.footer {
            display: none;
        }

        footer.fixed-footer {
            display: block;
            justify-content: center;
            align-items: center;
            padding: 20px;
            font-size: 10px;
            color: #ccc;
            background-color: #f8f8f8;
            width: calc(100% - 200px);
            margin-left: 200px;
            position: relative;
            box-sizing: border-box;
            text-align: center;
        }

        .sidebar {
            display: flex;
        }
    }

    @media (max-width: 767px) {
        .user-table-container {
            width: 150%;
            margin-left:-150px;
            /*margin: 0 0 0 -200px;*/
            display: block;
        }
        .ui-input-container {
            margin-left: 18%;
        }

        footer.fixed-footer {
            display: none;
        }
        body {
            padding-left: 0;
            margin-left: 0;
        }
        .post-table{
            top:10px;
            width: 100%;
            margin: 0;
        }
        .po-button{
            margin-left: -200px;
        }
        .sidebar {
            display: none !important;
        }

        header {
            margin-left: 0;
        }

        header .contentmenu {
            padding-left: 0;
            margin-left: 0;
            display: flex;
            justify-content: center;
            gap: 10px;
        }

        header .contentmenu a {
            margin-right: 10px;
            margin-left: 10px;
        }

        .user-table th, .user-table td {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .delete-btn {
            width: 50px;
        }

        .delete-btn:hover .delete-btn__icon {
            width: 20px;
            margin-left: 0;
            transform: translateX(10px);
        }

        .delete-btn__text {
            transform: translateX(15%);
        }

        .user-table td {
            padding: 12px;
            font-size: 14px;
        }

        footer.footer {
            display: flex;
            justify-content: space-around;
            border-top: 1px solid #ccc;
            padding: 18px 0;
            background-color: #fff;
        }

        footer.footer .menu-item {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 20px;
        }

        footer.footer .menu-item img {
            width: 24px;
            height: 24px;
        }
    }
