body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
}

.section {
    padding: 20px;
}

.search-filter {
    margin-left: 200px;
    margin-bottom: 20px;
}

.search-filter input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    width: 400px;
}

.search-filter button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.search-filter button:hover {
    background-color: #0056b3;
}


table {
    width: 100%;
    border-collapse: collapse;
    flex: 1;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.delete-btn {
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    background-color: #dc3545;
    color: #fff;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #d32f2f;
}
