@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Light';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Black';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-ExtraBold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
body {
    background-color: #fff;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

form {
    padding: 20px;
    border-radius: 15px;
    backdrop-filter: blur(5px);
    width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

h2 {
    font-family: 'Pretendard-Bold','Arial', sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
}

h3 {
    font-family: 'Pretendard-Bold','Arial', sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
}

p {
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
    color:#4d4d4d;
    font-family: 'Pretendard-Light','Arial', sans-serif;
}

p a{
    font-family: 'Pretendard-Regular','Arial', sans-serif;

}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.btn-login {
    background-color: #000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.btn-login:hover {
    background-color: #333;
}

.divider {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 20px 0;
}

.line {
    flex-grow: 1;
    border: none;
    border-top: 1px solid #ccc;
    margin: 0 10px;
}

.divider span {
    font-size: 14px;
    color: #000;
}

.continuelogin {
    background-color: #e6e6e6;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    width: 90%;
    text-align: center;
    text-decoration: none;
    color: #000;
}


.continuelogin:hover {
    text-decoration: none;
    background-color: #f0f0f0;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
