body {
  font-family: 'Pretendard-Regular', Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

.sidebar {
  width: 200px;
  height: 100vh;
  background: #f7f7f7;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-container {
  flex: 1;
  padding: 20px;
  padding-left: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile_section {
  width: 613px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 32px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile_picture {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.picture_frame {
  width: 64px;
  height: 64px;
  background: rgba(247, 247, 247, 1);
  border-radius: 50%;
  overflow: hidden;
  margin-right: 16px;
}

.profile_image {
  width: 64px;
  height: 64px;
  background-size: cover;
  border-radius: 50%;
}

.profile_name {
  font-size: 24px;
  font-weight: bold;
}

.id_section, .phone_section, .apartment_section, .apartment_num_section, .password_section {
  margin-bottom: 24px;
}

.id_label, .phone_label, .apartment_label, .apartment_num_label, .current_password_label, .new_password_label, .confirm_password_label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
  display: block;
}

.id_value, .phone_value, .apartment_value, .apartment_num_value, .current_password, .new_password, .confirm_password {
  display: flex;
  flex-direction: column;
}

input[type="text"], input[type="password"] {
  width: calc(100% - 32px);
  padding: 8px;
  margin-top: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

.save_button {
  width: calc(100% - 32px);
  text-align: center;
  background: #000;
  color: #fff;
  padding-top: 5px;
  padding-bottom:5px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  border: none;
}

@media (max-width: 767px) {
  .profile-container {
    width: 100%;
    padding: 10px;
    padding-bottom: 100px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;

  }
}
