.container {
    width: 100%;
    height: 100vh;
    background: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-card {
    width: 600px;
    background: #f9f9f9;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 100px;
    margin-left: 200px;
}

.profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-picture {
    width: 90px;
    height: 60px;
    background: rgba(247, 247, 247, 1);
    border-radius: 50%;
    overflow: hidden;
}

.profile-name-text {
    font-weight: 500;
    font-size: 24px;
    color: rgba(0, 0, 0, 1);
}

.transaction-table {
    width: 100%;
}

table {
    width: 100%;
    font-weight: 600;
    font-size: 14px;
}

.transaction-header,
.transaction-row {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.transaction-header {
    font-weight: 700;
    color: rgba(130, 130, 130, 1);
}

.transaction-row {
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
}

.transaction-header th,
.transaction-row td {
    flex: 1;
    text-align: center;
}

.transaction-title {
    margin: 0px 20px;
}

.transaction-item {
    margin: 0px;
    margin-right: 10px;
}

.transaction-price {
    margin: 0px;
    margin-right: 30px;
}

.transaction-edit {
    margin: 0px;
    margin-right: 10px;
}

.transaction-delete {
    margin: 0px;
}

.header-title,
.header-item,
.header-price,
.header-edit,
.header-actions {
    text-align: center;
}

@media (max-width: 767px) {
    .profile-card {
        width: 90%;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        position: absolute;
        margin-left: 0px;
        overflow-x: hidden;
    }
}
