<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>아모여: 공동 구매 수요조사</title>
    <script type="text/javascript" th:src="@{/js/menu.js}" th:defer></script>
    <script type="text/javascript" th:src="@{/js/post.js}" th:defer></script>
    <link rel="icon" th:href="@{/img/logo.jpeg}">
    <link rel="stylesheet" th:href="@{/css/want.css}">

</head>
<body>
<header>
    <div class="contentmenu" id="headerMenu">
        <a th:href="@{/}" class="menu-link">공구</a>
        <a th:href="@{/want}" class="menu-link active">수요조사</a>
    </div>
</header>
<aside class="sidebar">
    <div class="logo">
        <a th:href="@{/}"><img th:src="@{/img/logo.jpeg}" alt="로고"></a>
    </div>
    <div class="menu-item active" onclick="handleHomeClick(this)">
        <a th:href="@{/}"><img th:src="@{/img/after-home.png}" alt="공구" data-active-src="@{/img/after-home.png}" data-inactive-src="@{/img/before-home.png}"><div>공구</div></a>
    </div>
    <div class="menu-item" onclick="changeIconAndHideMenu(this, '/img/after-dollar.png')">
        <a th:href="@{/price}"><img th:src="@{/img/before-dollar.png}" alt="물가" data-active-src="@{/img/after-dollar.png}" data-inactive-src="@{/img/before-dollar.png}"><div>물가</div></a>
    </div>
    <div class="menu-item profile" onclick="toggleProfileBorderAndHideMenu(this)">
        <a th:href="@{/mypage}"><img th:src="@{/img/before-profile.png}" alt="마이페이지" data-active-src="@{/img/after-profile.png}" data-inactive-src="@{/img/before-profile.png}"><div>마이페이지</div></a>
    </div>
    <div th:if="${session.user != null and session.user.userRights == 'Y'}" class="menu-item profile" onclick="toggleProfileBorderAndHideMenu(this)">
        <a th:href="@{/admin/admin-user}"><img th:src="@{/img/before-profile.png}" alt="어드민페이지" th:data-active-src="@{/img/after-profile.png}" th:data-inactive-src="@{/img/before-profile.png}"><div>관리자 페이지</div></a>
    </div>
    <div>
        <div th:if="${session.user == null}">
            <a th:href="@{/login}">
                <button class="Btn">
                    <div class="signs"><svg viewBox="0 0 512 512"><path d="M217.9 105.9L340.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L217.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1L32 320c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM352 416l64 0c17.7 0 32-14.3 32-32l0-256c0-17.7-14.3-32-32-32l-64 0c-17.7 0-32-14.3-32-32s14.3-32 32-32l64 0c53 0 96 43 96 96l0 256c0 53-43 96-96 96l-64 0c-17.7 0-32-14.3-32-32s14.3-32 32-32z"></path></svg></div>
                    <div class="texts">로그인</div>
                </button>
            </a>
            <a th:href="@{/register}">
                <button class="Btn">
                    <div class="signs"><svg viewBox="0 0 512 512"><path d="M217.9 105.9L340.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L217.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1L32 320c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM352 416l64 0c17.7 0 32-14.3 32-32l0-256c0-17.7-14.3-32-32-32l-64 0c-17.7 0-32-14.3-32-32s14.3-32 32-32l64 0c53 0 96 43 96 96l0 256c0 53-43 96-96 96l-64 0c-17.7 0-32-14.3-32-32s14.3-32 32-32z"></path></svg></div>
                    <div class="texts">회원가입</div>
                </button>
            </a>
        </div>        <div th:if="${session.user != null}">
        <a th:href="@{/logout}">
            <button class="logout-Btn">
                <div class="sign"><svg viewBox="0 0 512 512"><path d="M217.9 105.9L340.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L217.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1L32 320c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM352 416l64 0c17.7 0 32-14.3 32-32l0-256c0-17.7-14.3-32-32-32l-64 0c-17.7 0-32-14.3-32-32s14.3-32 32-32l64 0c53 0 96 43 96 96l0 256c0 53-43 96-96 96l-64 0c-17.7 0-32-14.3-32-32s14.3-32 32-32z"></path></svg></div>
                <div class="text">로그아웃</div>
            </button>
        </a>
    </div>
    </div>
</aside>

    <div class="ui-input-container">
        <form action="/want/search" method="get">
            <input placeholder="검색어를 입력하세요." id="input" class="ui-input" name="query" type="text" th:value="${query}">
            <div class="ui-input-underline"></div>
            <div class="ui-input-highlight"></div>
            <div class="ui-input-icon">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                    <path
                            stroke-linejoin="round"
                            stroke-linecap="round"
                            stroke-width="2"
                            stroke="currentColor"
                            d="M21 21L16.65 16.65M19 11C19 15.4183 15.4183 19 11 19C6.58172 19 3 15.4183 3 11C3 6.58172 6.58172 3 11 3C15.4183 3 19 6.58172 19 11Z"
                    ></path>
                </svg>
            </div>
        </form>
    </div>

<div th:if="${noResultsMessage != null}" class="no-results-message">
    <p th:text="${noResultsMessage}"></p>
</div>
<div th:if="${session.user == null}">
    <p>로그인이 필요합니다. <a th:href="@{/login}">로그인</a></p>
</div>
<div th:if="${session.user != null}">
        <div th:each="requireBuy : ${requireBuyList}">
            <div class="want-post">
                <div class="post-header">
                    <img class="profile-pic" th:src="@{/img/after-profile.png}" alt="profile picture">
                    <div class="post-info">
                        <div class="username" th:text="${requireBuy.userNo}"></div>
                    </div>
                </div>
                <div class="post-images">
                    <img class="post-image" th:src="@{/img/sweet-potatoes.png}" alt="고구마">
                </div>
                <div class="post-description" th:text="${requireBuy.requireText}"></div>
                <div class="product-info mobile-view">
                    <table>
                        <tr>
                            <th>품목</th>
                            <td th:text="${requireBuy.requireItem}"></td>
                        </tr>
                        <tr>
                            <th>가격</th>
                            <td th:text="${requireBuy.requirePrice}"></td>
                        </tr>
                        <tr>
                            <th>품질</th>
                            <td th:text="${requireBuy.requireQuality}"></td>
                        </tr>
                    </table>
                </div>
                <div class="post-actions">
                    <form th:action="@{/toggleLike}" method="post" class="like-form">
                        <input type="hidden" name="userNo" th:value="${session.user.userNo}">
                        <input type="hidden" name="requireNo" th:value="${requireBuy.requireNo}">
                        <button type="button" class="like-button" th:onclick="'toggleLike(this, ' + ${requireBuy.requireNo} + ', ' + ${session.user.userNo} + ')'" th:classappend="${requireBuy.liked} ? 'liked' : 'unliked'">
                            <img class="like-icon" th:src="@{/img/heart-icon.png}" th:alt="unliked">관심
                        </button>
                    </form>
                    <span class="likeCount" th:text="${requireBuy.likeCount}"></span>
                </div>
            </div>
        </div>
    </div>


<footer class="footer">
    <div class="menu-item active" onclick="handleHomeClick(this)">
        <a th:href="@{/}"><img th:src="@{/img/after-home.png}" alt="공구" data-active-src="@{/img/after-home.png}" data-inactive-src="@{/img/before-home.png}"></a>
    </div>
    <div class="menu-item" onclick="changeIconAndHideMenu(this, '/img/after-dollar.png')">
        <a th:href="@{/price}"><img th:src="@{/img/before-dollar.png}" alt="물가" data-active-src="@{/img/after-dollar.png}" data-inactive-src="@{/img/before-dollar.png}"></a>
    </div>
    <div class="menu-item profile" onclick="toggleProfileBorderAndHideMenu(this)">
        <a th:href="@{/mypage}"><img th:src="@{/img/before-profile.png}" alt="마이페이지" data-active-src="@{/img/after-profile.png}" data-inactive-src="@{/img/before-profile.png}"></a>
    </div>
    <div th:if="${session.user != null and session.user.userRights == 'Y'}" class="menu-item profile" onclick="toggleProfileBorderAndHideMenu(this)">
        <a th:href="@{/admin/admin-user}"><img th:src="@{/img/before-profile.png}" alt="어드민페이지" th:data-active-src="@{/img/after-profile.png}" th:data-inactive-src="@{/img/before-profile.png}"></a>
    </div>
</footer>
<footer class="fixed-footer">
    <div>© 2024 Muyaho. All rights reserved.</div>
</footer>
</body>
</html>
